.course-card-1 {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .course-card-2, .course-card-4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }

  .course-card-2 .left-box-courses h1, .course-card-2 .left-box-courses p,
  .course-card-4 .left-box-courses h1, .course-card-4 .left-box-courses p {
    text-align: right;
  }
  
  .course-card-2 .left-box-courses,
  .course-card-4 .left-box-courses {
    text-align: right; /* Adjusted text alignment for responsiveness */
  }

  .course-card-2 .right-box-courses,
  .course-card-4 .right-box-courses {
    order: -1; /* Reversed order for even-numbered cards */
  }
}
