/* CourseCard.css */

.courses {
  margin-bottom: 20px;
}

.section-1 {
  position:relative;
  height: auto;
  width: calc(100% - 16px);
  padding: 5px;
  background-color: #e1f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left-box-courses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  max-width: 100%;
  padding-bottom: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.left-box-courses h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #5e5e5e;
  text-align: left;
}

.left-box-courses p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #080034;
  text-align: left; /* Adjusted text alignment for responsiveness */
  margin-bottom: 20px /* Adjusted margin for responsiveness */
}

.right-box-courses {
  width: 320px;
  height: 100%;
}

.right-box-courses img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px; /* Adjusted border radius for responsiveness */
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .section-1 {
    flex-direction: row;
    height: 280px;
  }

  .left-box-courses {
    max-width: calc(100% - 320px);
    height: calc(100% - 10px);
    padding-left: 5px;
    padding-top: 5px;
  }

  .left-box-courses h1 {
    font-size: 28px;
  }

  .left-box-courses p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .right-box-courses {
    width: 320px;
  }
}
