.courses-container {
  width: 40%;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.courses-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.course-list {
  list-style-type: none;
  padding: 0;
}

.course-item {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.course-details h2 {
  margin: 0;
  font-size: 1.5em;
}

.course-details p {
  margin: 5px 0;
  font-size: 1em;
}
.cs{
  color: black;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value if needed */
}
.cs1{
  color: black;
  font-size: 30px;
}