.registration-button{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    box-sizing: border-box;

}
.registration-button button{
    margin: 10px;
    height: 40px;
    width: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
.swimmer-registration{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 60%;
    width: 400px; /* Set the width of the div */
    margin: 0 auto; 
    border: 1px solid #080034;
    padding: 9px;
}
.submit {
    width: 421px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    font-size: 18px; /* Adjust text size as needed */
    margin: 0 auto; /* Horizontally center the button */
    display: block; /* Ensure the button is displayed as a block element */
    background-color: #080034;
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
  }