/* HeroSection.css */
.hero-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 540px;
  margin-top: 80px;
  margin-bottom: 35px;
  gap: 30px;
  flex-wrap: wrap;
}

.left-box {
  flex: 1; /* flex-grow flex-shrink flex-basis */
  height: 100%;
  background-color: #e1f5f8;
  border-radius: 10px;
  /* border: 1px solid #78D5E3; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 0 0 25%; */
  height: 100%;
  gap: 10px;
}

.top-right-box,
.bottom-right-box {
  flex: 1;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.top-right-box {
  background-image: linear-gradient(#cf331c, #080034);
}

.bottom-right-box {
  background-color: #080034;
}

.img1-box,
.img2-box {
  background-color: #e1f5f8;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  background: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img1-box {
  background-image: url(../../../public/images/VC_Sir_Pic.jpg);
}

.img2-box {
  background-image: url(../../../public/images/Shahjahan_Sir_Pic.jpeg);
}

.vc-text,
.director-text {
  color: #ffffff;
  margin: 10px;
}

.hero-section-2,
.hero-section-3,
.hero-section-4,
.hero-section-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 540px;
  width: 100%;
  margin-bottom: 35px;
  background-color: #e1f5f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-section-2 h1,
.hero-section-4 h1,
.hero-section-5 h1 {
  color: #5e5e5e;
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.hero-section-2 img,
.hero-section-4 img,
.hero-section-5 img {
  width: calc(100% - 14px);
  height: calc(100% - 55px);
  margin: 7px;
  border-radius: 8px;
}

.hero-section-2 .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: calc(100% - 55px);
  width: calc(100% - 250px);
}

.hero-section-2 .transparent-box {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin: 0 7px;
  align-items: center;
}

.hero-section-2 .transparent-box h2 {
  font-size: 28px;
  font-weight: 700;
  color: #080034;
  margin-bottom: 10px;
}

.hero-section-2 .transparent-box p {
  font-size: 16px;
  color: #080034;
  font-weight: 600;
}

.hero-section-3 {
  position: relative;
  height: 375px;
  overflow: hidden;
}

.hero-section-3 img {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  border-radius: 8px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.glass-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100px;
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  align-items: center;
}

.glass-box h3 {
  font-size: 28px;
  color: #e1f5f8;
  text-align: center;
}

.left-box-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.btn {
  background-color: #080034;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #78d5e3;
}
