.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
 
}

.profile-container {
  width: 80%;
  max-width: 500px;
  padding: 40px;
  background: #e1f5f8;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.profile h1 {
  margin-bottom: 20px;
  color: #080034;
  font-size: 24px;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-right: 15px;
  color: #080034;
}

.text {
  width: calc(100% - 30px);
}

.label {
  font-weight: bold;
  color: #080034;
}

.value {
  color: #080034;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
