.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to bottom, #76b852, #8DC26F);
}

.profile-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.profile-card h1 {
  margin-bottom: 20px;
  color: #333;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-icon {
  margin-right: 10px;
  color: #333;
}

.profile-label {
  font-weight: bold;
  color: #555;
}

.profile-value {
  color: #777;
}

.edit-profile-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


