    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: white;
    }
    footer{
        background-color: rgba(22, 44, 77, 0.4);
        padding-top: 40px;
        /* background: #162C4D;
        opacity: .6; */
          position: relative;
          bottom: 0;
          left: 0;
          width: 100%;
      
        
    }
    .container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-content{
        width: 33.3%;
    }
    h3{
        font-size: 24px;
        margin-bottom: 15px;
        text-align: center;
    }
    .footer-content p{
        width:190px;
        margin: auto;
        padding: 7px;
    }
    .footer-content ul{
        text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #78D5E3;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 70px;
    }
    .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: #78D5E3;
    }
    .social-icons i:hover{
        color: #78D5E3;
    }
    .bottom-bar{
        background: #092651;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #FFFFFF;
        margin: 0;
        font-size: 14px;
        padding: 7px;
    }
