/* Header.css */

/* Base styles */
.header {
  height: 60px;
  background: linear-gradient(to right, #b4e8ef, #78d5e3, #080034);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo img {
  width: 146px;
  height: 46px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 28px;
}

.navigation ul li {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navigation ul li a {
  color: #5e5e5e;
  font-weight: 600;
  font-size: 15px;
}

.navigation ul li:hover {
  transform: scale(1.2);
}

.navigation ul li a:hover {
  color: #080034;
  font-weight: 700;
}

.auth-buttons {
  display: flex;
  gap: 13px;
}

.auth-button {
  display: inline-block;
  height: 35px;
  width: 80px;
  background-color: #e1f5f8;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  color: #080034;
  border: none;
  border-radius: 10px;
  padding: 0 8px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #78d5e3;
  color: #080034;
  transform: scale(1.1);
}

/* Hamburger menu styles */
.menu-toggle {
  display: none; /* Hide by default */
  cursor: pointer;
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.menu-toggle:hover {
  transform: scale(1.4);
  color: #080034;
}

.navigation.open {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #080034;
  padding: 20px;
  border-bottom: 2px solid #b4e8ef;
}

.navigation.open ul li {
  margin-top: 10px;
}

.navigation.open ul li a {
  color: #78d5e3;
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .logo img {
    width: 120px;
    height: 38px;
  }

  .navigation ul {
    gap: 20px;
  }

  .auth-buttons {
    gap: 5px;
  }

  .auth-button {
    width: 70px;
    font-size: 12px;
    line-height: 30px;
  }

  .menu-toggle {
    display: block;
  }

  .navigation {
    display: none; /* Hide navigation by default */
    transition: all 0.3s ease;
  }
}
